# Build output
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / JetBrains
.idea/

# ASP.NET Core
appsettings.*.json
appsettings.Local.json

# Logs
*.log

# NuGet
*.nupkg
*.snupkg
packages/

# EF Core Migrations (optional, can keep if you want)
Migrations/

# Node / Angular frontend
node_modules/
dist/
/appsettings.json
